#!/usr/bin/env bash
# bash_aliases -- DO NOT COMIT TO VERSION CONTROL (other than as an example)

export WORKPATH='/work'

alias venv='source .venv/bin/activate'
alias cdw='cd ${WORKPATH}'
alias h='history'
alias df='df -h'
alias du='du -h'
alias l='ls -hA --color=auto'
alias ll='ls -lhA --color=auto'
